@media screen and (max-width: 768px){

	.about{
		width: 50%;
	}
	.services{
		width: 50%;
	}
	.contact-single{
		width: 50%;
	}
	
}
@media screen and (max-width: 480px){
	.about{
		width:100%;
	}

	.services{
		width: 100%;
	}
	.contact-single{
		width: 100%;
	}
	.contact-form{
		width: 100%;
		padding: 0;
	}
	.message{
		width: 100%;
	}
}